<p>TS <%= @time_start %></p>
<p>TE <%= @end_time %></p>
<p><%= @pass_grid %></p>

<h3>Here is your input...</h3>
<p><%= @input %></p>


<h3>Here is your result...</h3>
<p><%= @result[:message] %></p>
<p><%= @result[:score] %></p>

